
$primary:           #94b4d2;
$primaryLight:      #e6ffff;
$primaryDark:       #82b3c9;
$secondary:         #b4bada;
$secondaryLight:    #ced5f8;
$secondaryDark:     #9499b7;
$dark:              #93a3ac;
$light:             #c7d4dc;
$success:           #78a77b;
$info:              #4b475a;
$warning:           #ddab65;
$danger:            #e98a83;

@import "~bootstrap/scss/bootstrap.scss";