
$primary: #90caf9;
$secondary: #afbdc4;
$alternative-secondary: #8f8e95;
$dark: #808d94;
$light: #e1eff7;
$success: #78a77b;
$info: #4b475a;
$warning: #ddab65;
$danger: #e98a83;

@import "~bootstrap/scss/bootstrap.scss";